@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Cabin', sans-serif;
}

main {
  @apply flex items-center justify-center min-h-screen;
}

.widgets-display {
  @apply rounded-lg mx-[1.38rem] my-12 py-9 md:mx-auto max-w-[53.1875rem] px-[3.25rem] md:px-[2.25rem] bg-greenspark_white;
  box-shadow: 0px 0.77778px 2.99074px 0px rgba(0, 0, 0, 0.01), 0px 3.42222px 6.19259px 0px rgba(0, 0, 0, 0.02), 0px 8.4px 12.35px 0px rgba(0, 0, 0, 0.03),
    0px 16.17778px 24.20741px 0px rgba(0, 0, 0, 0.03), 0px 27.22222px 44.50926px 0px rgba(0, 0, 0, 0.04), 0px 42px 76px 0px rgba(0, 0, 0, 0.05);
  animation: appear 0.75s ease-in-out;
}

@keyframes appear {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.widgets-display-title {
  @apply text-3xl font-bold text-center md:text-left text-greenspark_black relative mb-8;
}

.widgets-display-title::after {
  content: '';
  width: 16rem;
  height: 0.125rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 0.75rem);
  background: hsla(0, 0%, 69%, 1);
}

@media screen and (min-width: 768px) {
  .widgets-display-title::after {
    left: 0;
    transform: none;
    width: 100%;
  }
}

.widgets-inner-container {
  @apply flex flex-col md:flex-row gap-[3.59rem];
}

.widget {
  min-width: 13.8327rem;
}

.widget-header {
  @apply flex items-center rounded-md pl-4;
}

.widget-title {
  @apply py-[0.64rem] px-3 text-[0.77538rem];
}

.widget-title span {
  @apply block text-[1.11656rem];
}

/* Custom checkbox styles */

.form-control {
  font-size: 0.875rem;
  line-height: 1.1;
}

input[type='checkbox'] {
  appearance: none;
  background-color: white;
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 2px solid hsla(0, 0%, 13%, 1);
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type='checkbox']:checked {
  background-color: hsla(157, 33%, 35%, 1);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
  box-shadow: inset 1em 1em white;
}

input[type='checkbox']:focus {
  outline: max(2px, 0.15em) solid hsla(157, 33%, 35%, 1);
  outline-offset: max(2px, 0.15em);
}
