@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Cabin', sans-serif;
}

.widget-container {
  @apply rounded-lg mx-[1.38rem] my-12 py-9 md:mx-auto max-w-[53.1875rem];
  box-shadow: 0px 0.77778px 2.99074px 0px rgba(0, 0, 0, 0.01), 0px 3.42222px 6.19259px 0px rgba(0, 0, 0, 0.02), 0px 8.4px 12.35px 0px rgba(0, 0, 0, 0.03),
    0px 16.17778px 24.20741px 0px rgba(0, 0, 0, 0.03), 0px 27.22222px 44.50926px 0px rgba(0, 0, 0, 0.04), 0px 42px 76px 0px rgba(0, 0, 0, 0.05);
}

.widget-container-title {
  @apply text-3xl font-bold text-center text-greenspark_black relative mb-8;
}

.widget-container-title::after {
  content: '';
  width: 16rem;
  height: 0.125rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 0.75rem);
  background: hsla(0, 0%, 69%, 1);
}

.widgets-inner-container {
  @apply flex flex-col px-14;
}
